[submodule "terraform-projects"]
	path = terraform-projects
	url = git@github.com:coder7475/terraform-projects.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:coder7475/scripts.git
[submodule "Traefik"]
	path = Traefik
	url = https://github.com/coder7475/Traefik
