[submodule "terraform-projects"]
	path = terraform-projects
	url = git@github.com:coder7475/terraform-projects.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:coder7475/scripts.git
[submodule "Traefik"]
	path = Traefik
	url = git@github.com:coder7475/Traefik.git
[submodule "learn-nginx"]
	path = learn-nginx
	url = https://github.com/coder7475/learn-nginx
[submodule "Terraform-AWS"]
	path = Terraform-AWS
	url = git@github.com:coder7475/Terraform-AWS.git
[submodule "ansible"]
	path = ansible
	url = git@github.com:coder7475/ansible.git
[submodule "SRE"]
	path = SRE
	url = git@github.com:coder7475/SRE.git
[submodule "Docker_Kubernetes_Practice"]
	path = Docker_Kubernetes_Practice
	url = git@github.com:coder7475/Docker_Kubernetes_Practice.git
[submodule "configs"]
	path = configs
	url = git@github.com:coder7475/configs.git
